/* ----------------------------------------------------------------------

  margin-top

---------------------------------------------------------------------- */
.u-mt0 { margin-top: 0; }
.u-mt3 { margin-top: 3px; }
.u-mt5 { margin-top: 5px; }
.u-mt10 { margin-top: 10px; }
.u-mt14 { margin-top: 14px; }
.u-mt21 { margin-top: 21px; }
@include mq_down(md) {
	.u-mt0_sp { margin-top: 0; }
	.u-mt3_sp { margin-top: 3px; }
	.u-mt5_sp { margin-top: 5px; }
	.u-mt10_sp { margin-top: 10px; }
	.u-mt14_sp { margin-top: 14px; }
	.u-mt21_sp { margin-top: 21px; }
}
@include mq_up(md) {
  .u-mt20_pc { margin-top: 20px; }
  .u-mt30_pc { margin-top: 30px; }
}

/* ----------------------------------------------------------------------

  margin-right

---------------------------------------------------------------------- */
.u-mr10 { margin-right: 10px; }


/* ----------------------------------------------------------------------

  margin-bottom

---------------------------------------------------------------------- */
.u-mb0 { margin-bottom: 0; }
.u-mb5 { margin-bottom: 5px; }
.u-mb10 { margin-bottom: 10px; }
.u-mb20 { margin-bottom: 20px; }





/* ----------------------------------------------------------------------

  margin-left

---------------------------------------------------------------------- */



/* ----------------------------------------------------------------------

  other

---------------------------------------------------------------------- */
.u-inputBox { margin-bottom: 21px; }
.u-inputBoxShort { margin-bottom: 12px; }
