.u-text--center {
	text-align: center !important;
}
.u-text--right {
	text-align: right !important;
}
.u-text--left {
	text-align: left !important;
}
.u-textSize--small {
	font-size: 0.9em;
}
.u-textSize--big {
	font-size: 1.1em;
}