.u-w10 { width: 10px; }
.u-w20 { width: 20px; }
.u-w24_sp { width: 24px; }
.u-w30 { width: 30px; }
.u-w40 { width: 40px; }
.u-w50 { width: 50px; }
.u-w60 { width: 60px; }
.u-w70 { width: 70px; }
.u-w80 { width: 80px; }
.u-w90 { width: 90px; }
.u-w100 { width: 100px; }
.u-w110 { width: 110px; }
.u-w120 { width: 120px; }
.u-w130 { width: 130px; }
.u-w140 { width: 140px; }
.u-w150 { width: 150px; }
.u-w160 { width: 160px; }
.u-w170 { width: 170px; }
.u-w180 { width: 180px; }
.u-w320 { width: 320px; }
.u-w360 { width: 360px; }
.u-w49per { width: 49%; }
.u-w50per { width: 50%; }
.u-w100per { width: 100%; }
.u-wflex1 {
    flex: 1;
    min-width: 0;
}
.u-wflex2 { flex: 2; }
@include mq_up(md) {
    .u-w10_pc { width: 10px; }
    .u-w20_pc { width: 20px; }
    .u-w30_pc { width: 30px; }
    .u-w40_pc { width: 40px; }
    .u-w50_pc { width: 50px; }
    .u-w60_pc { width: 60px; }
    .u-w65_pc { width: 65px; }
    .u-w70_pc { width: 70px; }
    .u-w80_pc { width: 80px; }
    .u-w90_pc { width: 90px; }
    .u-w100_pc { width: 100px; }
    .u-w110_pc { width: 110px; }
    .u-w120_pc { width: 120px; }
    .u-w130_pc { width: 130px; }
    .u-w140_pc { width: 140px; }
    .u-w150_pc { width: 150px; }
    .u-w160_pc { width: 160px; }
    .u-w170_pc { width: 170px; }
    .u-w180_pc { width: 180px; }
    .u-w190_pc { width: 190px; }
    .u-w200_pc { width: 200px; }
    .u-w220_pc { width: 220px; }
    .u-w230_pc { width: 230px; }
    .u-w240_pc { width: 240px; }
    .u-w250_pc { width: 250px; }
    .u-w260_pc { width: 260px; }
    .u-w270_pc { width: 270px; }
    .u-w280_pc { width: 280px; }
    .u-w290_pc { width: 290px; }
    .u-w300_pc { width: 300px; }
    .u-w350_pc { width: 350px; }
    .u-w400_pc { width: 400px; }
    .u-w49per_pc { width: 49%; }
    .u-w50per_pc { width: 50%; }
    .u-w100per_pc { width: 100%; }
    .u-wflex1_pc { flex: 1; }
}

@include mq_down(md) {
    .u-w10_sp { width: 10px; }
    .u-w20_sp { width: 20px; }
    .u-w25_sp { width: 25px; }
    .u-w30_sp { width: 30px; }
    .u-w40_sp { width: 40px; }
    .u-w50_sp { width: 50px; }
    .u-w60_sp { width: 60px; }
    .u-w65_sp { width: 65px; }
    .u-w70_sp { width: 70px; }
    .u-w80_sp { width: 80px; }
    .u-w90_sp { width: 90px; }
    .u-w100_sp { width: 100px; }
    .u-w130_sp { width: 130px; }
    .u-w49per_sp { width: 49%; }
    .u-w50per_sp { width: 50%; }
    .u-w100per_sp { width: 100%; }
    .u-wflex1_sp { flex: 1; }
}
