@charset "UTF-8";

$breakpoint-up: (
    'sm': 'screen and (min-width: 400px)',
    'md': 'screen and (min-width: 896px)',
    'lg': 'screen and (min-width: 1020px)',
) !default;

$breakpoint-down: (
    'sm': 'screen and (max-width: 399px)',
    'md': 'screen and (max-width: 897px)',
    'lg': 'screen and (max-width: 1020px)',
) !default;

@mixin mq_up($breakpoint: md) {
    @media #{map-get($breakpoint-up, $breakpoint)} {
        @content;
    }
}

@mixin mq_down($breakpoint: md) {
    @media #{map-get($breakpoint-down, $breakpoint)} {
        @content;
    }
}


/* ---------------------------------------------------------------------------------
	color
--------------------------------------------------------------------------------- */

$colorYellow: #EAA524;
$colorRed: #ED4646;
$colorGreem: #5CC964;
$colorBlue: #3E89E0;
$colorNavy: #424758;
$bgMainColor: #F6F5F7;



/* ---------------------------------------------------------------------------------
	foundation
--------------------------------------------------------------------------------- */
/* base */
@import "./foundation/base/base";
@import "./foundation/base/reset";

/* single */
@import "./foundation/single/owner";


/* ---------------------------------------------------------------------------------
	layout
--------------------------------------------------------------------------------- */
@import "./layout/l-alart";
@import "./layout/l-button";
@import "./layout/l-form";
@import "./layout/l-list";
@import "./layout/l-modal";
@import "./layout/l-flexbox";
@import "./layout/l-detail";
@import "./layout/l-wrap";
@import "./layout/l-tracking";


/* ---------------------------------------------------------------------------------
	object
--------------------------------------------------------------------------------- */
/* component */
@import "./object/component/c-box";
@import "./object/component/c-button";
@import "./object/component/c-detail";
@import "./object/component/c-img";
@import "./object/component/c-input";
@import "./object/component/c-text";
@import "./object/component/c-link";

/* utility */
@import "./object/utility/u-margin";
@import "./object/utility/u-width";
@import "./object/utility/u-color";
@import "./object/utility/u-display";
@import "./object/utility/u-text";
@import "./object/utility/u-border";
@import "./object/utility/u-padding";
