.l-main {
	@include mq_up(md) {
		margin-top: 12px;
	}
	.l-main__wrap {
		@include mq_up(md) {
			border: 1px solid #E5E5E5;
			padding: 50px 28px;
			background: #fff;
		}
	}
}

/* メイン header */
.l-main__header {
	@include mq_up(md) {
		margin-bottom: 32px;
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		/* 横幅いっぱい */
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		/* 横並び */
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
	}
}
.l-main__header__title {
	@include mq_down(md) {
		position: relative;
		background: #fff;
		padding: 20px 0;
		text-align: center;
	}

	h1 {
		font-weight: 700;
		font-size: 16px;
		@include mq_up(md) {
			font-size: 26px;

		}
	}
}
.l-main__header__title__back {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	img {
		width: 8px;
	}
}
.l-main__header__title__icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	li {
		&:not(:first-child) {
			margin-left: 15px;
		}
		img {
			width: 24px;
			height: 24px;
		}
		span {
			display: block;
			font-size: 10px;
			font-weight: 700;
			margin-top: 1px;
		}
	}
}
.l-main__header__sub {
	@include mq_down(md) {
		background: #fff;
		padding: 15px 10px;
		margin-top: 7px;
	}
}
.l-main__header__sub__selectMember {
	padding-right: 20px;
	@include mq_down(md) {
		flex: 1;
	}
	@include mq_up(md) {
		width: 240px;
	}
	select {
		font-weight: 700;
		border-radius: 3px;
		width: 100%;
		padding: 10px 16px;
		border: 1px solid #DEDEDE;
	}
}
.l-main__header__sub__link {
	border: 1px solid #CECECE;
	border-radius: 3px;
	margin-left: 5px;
	a {
		display: block;
		font-size: 14px;
		font-weight: 700;
		color: #70768D;
		height: 34px;
		padding: 0 15px;
		line-height: 34px;
		img {
			width: 30px;
			vertical-align: middle;
		}
	}
	&.dust {
		text-align: center;
		a {
			padding: 0 5px;
		}
	}
}


/* メイン tab */
.l-main__tab {
	background: #fff;
	@include mq_up(md) {
		border-bottom: 1px solid #E0E0E0;
	}
	@include mq_down(md) {
		border-top: 1px solid #F0F0F0;
		.l-main__tab__two li {
			width: 50%;
		}
		.l-main__tab__three li {
			width: 33.3333%;
		}
		.l-main__tab__four li {
			width: 25%;
		}
	}
	li {
		@include mq_up(md) {
			width: 120px;
		}
		a {
			display: block;
			text-align: center;
			width: 100%;
			padding: 15px 0;
			color: #858C90;
		}
		&.selected a {
			font-weight: 700;
			color: #000;
			border-bottom: 2px solid #EAA524;
		}
	}
}

/* メイン body */
.l-main__body {
	@include mq_up(md) {
		margin-top: 30px;
	}
	@include mq_down(md) {
		margin-top: 7px;
	}
}
.l-main__link {
	margin-top: 24px;
}
.l-main__two__wrap {
	@include mq_up(md) {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		/* 横幅いっぱい */
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		/* 横並び */
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: start;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
}
.l-main__two__box {
	&.one__wrap {
		width: 100%;
	}
	@include mq_up(md) {
		width: 50%;
		&:nth-child(2) {
			padding-left: 20px;
			border-left: 1px solid #E0E0E0;
		}
		&:first-child {
			padding-right: 20px;

		}
	}
	@include mq_down(md) {
		margin-top: 20px;
	}
	.l-main__body__thead {
		@include mq_up(md) {
			margin-bottom: 20px;
		}
	}
}
.l-main__body__add {
	margin-top: 10px;
	&.whiteList {
		@include mq_down(md) {
			padding: 10px;
			background: #fff;
			border-bottom: 1px solid #F5F5F5;
		}
	}
	@include mq_up(md) {
		display: inline-block;
		margin-bottom: 20px;
	}
	.download {
		display: inline-block;
		@include mq_down(md) {
			width: 100%;
			text-align: center;
		}
		@include mq_up(md) {
			padding: 15px;
			border: 1px solid #E2E2E2;
			border-radius: 3px;
		}
	}
}
.l-main__body__thead {
	padding: 5px 10px;
	@include mq_up(md) {
		padding: 10px;
		border-bottom: 1px solid #E0E0E0;
	}
	.theadHeadline {
		font-weight: 700;
	}

}
.l-main__body__thead__td {
	p {
		color: #C3C3C3;
		font-size: 13px;
		line-height: 1.4;
	}
	&.workList_flex1 {
		flex: 1;
	}
	&.workList_date {
		width: 150px;
	}
}
.l-main__body__tbody {
	@include mq_down(md) {
		background: #fff;
	}
	table {
		width: 100%;
		td, th {
			@include mq_down(md) {
				border-bottom: 1px solid #F5F5F5;
			}
			padding: 10px 10px;
			span {
				display: block;
			}
		}
		th {
			white-space: nowrap;
			padding-left: 10px;
		}
	}
	li {
		border-bottom: 1px solid #F0F0F0;
		a {
			position: relative;
			display: block;
			padding: 15px 30px 15px 10px;
			@include mq_up(md) {
				padding: 15px 10px 15px 10px;
			}
			@include mq_down(md) {
				&:before {
					content: "";
					display: block;
					width: 15px;
					height: 15px;
					position: absolute;
					right: 10px;
					top: 50%;
					transform: translateY(-50%);
					background: url(../../img/icon-arrow-right-gray.png) no-repeat center / contain;
				}
			}
		}
	}
	.in-house__memo {
		@include mq_down(md) {
			padding: 20px 10px;
			background: #fff;
		}
		textarea {
			background: #F7F7F7;
			resize: none;
			width: 100%;
			height: 100px;
			padding: 10px;
			@include mq_up(md) {
				height: 150px;
			}
		}
	}
	.listType--edit {
		a {
			@include mq_down(md) {
				padding: 15px 10px 15px 10px;
			}
			&:before {
				content: none;
			}
		}
		.edit--icon {
			text-align: center;
			img {
				width: auto;
				height: 25px;
			}
		}
	}
}

.l-main__body__tbody__td {
	.workDetail_title {
		@include mq_down(md) {
			font-size: 14px;
			font-weight: 700;
			margin-bottom: 7px;
		}
	}
	.workDetail_remark {
		@include mq_down(md) {
			font-size: 13px;
			color: #BFBFBF;
			margin-top: 5px;
		}
	}
	.workDetail_date {
		@include mq_down(md) {
			display: inline-block;
			font-size: 13px;
			color: #BFBFBF;
		}
	}
}
.l-main__body__tbody__top {
	.title {
		font-weight: 700;
		margin-bottom: 7px;
		@include mq_up(md) {
			font-size: 18px;
			&.workList_flex1 {
				flex: 1;
			}
		}
	}
	.date {
		color: #7E7E7E;
		@include mq_down(md) {
			font-size: 12px;
		}
		@include mq_up(md) {
			&.workList_date {
				width: 150px;
			}
		}
	}

}
.l-main__body__tbody__bottom {
	@include mq_up(md) {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		/* 横幅いっぱい */
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		/* 横並び */
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	p {
		color: #BFBFBF;
		@include mq_down(md) {
			font-size: 13px;
		}
		&.address {
			@include mq_up(md) {
				margin-right: 10px;
			}
			@include mq_down(md) {
				margin-bottom: 2px;
			}
		}
	}
}
.l-main__body__tbody__right {
	@include mq_down(md) {
		padding-left: 15px;
	}
}
.l-main__body__tbody__left {

	img {
		width: 50px;
	}
}







